<div class="post-body">
  <%= attachment_image_tag @note, :image %>
  <p>タイトル：<%= @note.title %></p>
  <p>本文：<%= @note.body %></p>
  <p>ユーザーネーム：<%= @note.user.name %></p>
  <p>投稿日時：<%= @note.created_at.strftime('%Y/%m/%d') %></p>
  <% if @note.user == current_user %>
    <%= link_to "削除", note_path(@note), method: :delete %>
  <% end %>
</div>